// Place all the styles related to the api/CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  
}
.cart-icon {
  color: white;
  margin-right: 10px;
}

.cart-item-picture {
  width: 100px;
  
}

.cart-container {
   position: absolute;
    width: 400px;
    height: fit-content;
    top: 50px;
    right: 50px;
    background-color: white;
    border: none;
    border-radius: 15px;
    height: fit-content;
    overflow: scroll;
    box-shadow: 0px 0px 10px rgba(0 ,0 ,0 ,.10);
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 21px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  color: var(--main-black);
  font-family: var(--functional-font);
  padding: 25px;
}

.cart-item-name {
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: 700;
}

.cart-item-specs {
  display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    width: 100%;
}

.cart-item-remove-button {
  
    width: 100px;
    border-radius: 15px;
    border: 1px solid black;
    height: 35px;
    color: white;
    background: var(--main-black);
    font-family: var(--functional-font);
    padding: 4px;
    margin-left: 14px;
    cursor: pointer;
    transition: all  800ms ease-in-out;
}

.cart-item-remove-button:hover{
  background-color: transparent;
  color: var(--main-black);
}

.close-cart-button{
    position: absolute;
    top: 43px;
    right: 40px;
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-weight: 800;
    transition: all 700ms ease-in-out;
    
}


.close-cart-button:hover{
  opacity: 1;
}

.cart-icon {
  color: white;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
  opacity: .8;
}

.cart-icon:hover{
  opacity: 1;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  
}

.cart-item-price {
  color: var(--main-purple);
}

.cart-item-size {
  color: var(--main-green);
}

.cart-items-wrapper{
  padding: 15px;
}

.checkout-button{
      margin: auto;
    margin-bottom: 25px;
    background: var(--main-purple);
    border: 1px solid var(--main-purple);
    width: 300px;
    cursor: pointer;
    transition: all 850ms ease-in-out;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-family: var(--functional-font);
}
  



.checkout-button:hover{
  background-color: transparent;
  border: 1px solid black;
  color: black;

}

// .cart{
   
    // z-index: 1;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100%;
    // overflow: auto;
    // background-color: transparent;
// }

.gradient{
    position: fixed;
    top: 90%;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(transparent, white);
    z-index: 1;

}

@media only screen and (max-width:375px){
 .gradient{
    display: none;
}
}


.cart-number{
  color: white;
    margin-right: 10px;
    font-size: 15px;
    font-family: var(--functional-font);
   
    
}

.cart-number-wrapper{
  position: relative;
  
}

.cart-total{
      margin: auto;
    margin-bottom: 10px;
    font-family: var(--functional-font);
    font-weight: 600;
}

.cart-show-container{
  align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.cart-show-header{
  font-family: var(--styled-font);
  font-size: 50px;
  color: var(--main-purple);
  margin-bottom: 50px;
}

.checkout-button-show{
      width: 300px;
    height: 55px;
    border-radius: 15px;
    border: 1px solid var(--main-green);
    background-color: var(--main-green);
    margin: 35px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    letter-spacing: .5px;
    transition: all 750ms ease-in-out;
    cursor: pointer;
}
.checkout-button-show:hover{
  border:1px solid black;
  color: var(--main-black);
  background-color: transparent;
}

.cart-total-show{
  font-family: var(--functional-font);
  font-size: 25px;
  font-weight: 700;
}

.cart-show-header-name{
      font-family: var(--styled-font);
    font-size: 50px;
    color: var(--main-black);
    margin-bottom: 20px;
}

.order-processing-header{
   font-family: var(--styled-font);
    font-size: 50px;
    color: var(--main-black);
    margin: 20px;
    text-align: center;
}

.temp-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disclaimer{
      height: 50px;
    text-align: center;
    padding: 15px;
    font-family: var(--functional-font);
    font-weight: 100;
    background-color: var(--main-green);
    color: white;
    font-style: italic;
}

.payment-form{
  @include flexCenter(column);
      width: 500px;
    height: fit-content;
}

.checkout-inputs{
      width: 200px;
    height: 35px;
    border-radius: 11px;
    border: 1px solid grey;
    padding: 7px;
    margin: 8px;
}

.checkout-small-inputs{
   width: 75px;
    height: 35px;
    border-radius: 11px;
    border: 1px solid grey;
    padding: 7px;
    margin: 8px;
}

.order-confirmation{
   @include flexCenter(column);
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.order-div{
      height: 500px;
    width: 500px;
    background: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0 , 10%);
    z-index:3;
    @include flexCenter(column)
}

.order-confirmation-picture{
  background-image: image-url('checkoutbanner.png');
  width: 100%;
    height: 259px;
    background-size: cover;
    background-repeat: none;
    font-family: var(--styled-font);
    font-size: 50px;
    color: white;
    @include flexCenter(column);
    letter-spacing:1px
  
  }

  .errors-message{
    font-family: var(--functional-font);
    font-size: 15px;
    color:var(--main-purple);
  }

  .order-confirmation-header{
    text-align: center;
    color: var(--main-purple);
    font-family: var(--styled-font);
    font-size: 50px;
    margin-top: 17px;

  }
  .order-confirmation-blurb{
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
  }

  .order-confirmation-button{
    align-self: center;
    width:200px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: var(--main-green);
    border: 1px solid var(--main-green);
    cursor: pointer;
    transition: all ease-in-out 850ms;
    font-family: var(--functional-font);
    font-size: 17px;
    color: white;
  }

  .order-confirmation-button:hover{
   border: 1px solid black;
   color: var(--main-black);
   background-color: transparent;
  }

  .order-confirmation-message{
    @include flexCenter(column);
  }

  .order-confirmation-blurb{
    font-size: 20px;
    text-align: center;
    align-content: center;
    font-family: var(--functional-font);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }