// Place all the styles related to the api/CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-icon {
  color: white;
}

.cart-item-picture {
  width: 100px;
  
}

.cart-container {
     position: absolute;
    width: 400px;
    height: fit-content;
    top: 50px;
    right: 50px;
    background-color: white;
    border: none;
    border-radius: 15px;
    height: 500px;
    overflow: scroll;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  flex-direction: row;
  color: var(--main-black);
  font-family: var(--functional-font);
  padding: 25px;
}

.cart-item-name {
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: 700;
}

.cart-item-specs {
  display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    width: 100%;
}

.cart-item-remove-button {
  
    width: 100px;
    border-radius: 15px;
    border: 1px solid black;
    height: 35px;
    color: white;
    background: var(--main-black);
    font-family: var(--functional-font);
    padding: 4px;
    margin-left: 14px;
    cursor: pointer;
    transition: all  800ms ease-in-out;
}

.cart-item-remove-button:hover{
  background-color: transparent;
  color: var(--main-black);
}

.close-cart-button{
    position: absolute;
    top: 21px;
    right: 40px;
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-weight: 800;
    transition: all 700ms ease-in-out;
    opacity: .8;
}


.close-cart-button:hover{
  opacity: 1;
}

.cart-icon {
  color: white;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  
}

.cart-item-price {
  color: var(--main-purple);
}

.cart-item-size {
  color: var(--main-green);
}

.cart-items-wrapper{
  padding: 15px;
}