// Place all the styles related to the api/Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-details {
  font-family: var(--styled-font);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-index-name {
  font-size: 25px;
  margin: 5px;
  color: var(--main-black);
  font-family: var(--styled-font);
}

.product-index-price {
  color: var(--main-purple);
  margin-top: 20px;
  font-family: var(--functional-font);
}

#index-size {
  color: var(--main-green);
}

.product-image {
  width: 250px;

  cursor: pointer;
}

.featured {
  display: flex;
}

.section {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
}

.index-cart-button {
  height: 40px;
  padding: 11px;
  width: 140px;
  color: white;
  background-color: var(--main-black);
  font-size: 14px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.index-cart-button:hover {
  // opacity: 0.8;
  background-color: transparent;
  color: var(--main-black);
  border: 1px solid black;
}

hr.style-six {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 65%;
  margin-top: 40px;
}

hr.style-7 {
  border-top: 1px solid rgba(128, 128, 128, 0.337);
  height: 0;
  width: 264px;
}

.free-shipping {
  font-family: var(--functional-font);
  color: var(--main-black);
  font-size: 14px;
  text-align: center;
}

.product-promotion {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: -60px;
}

.milk {
  text-align: center;
  font-size: 50px;
}
.product-blurb {
  width: 250px;
  font-family: var(--functional-font);
  line-height: 35px;
  text-align: center;
}
// width: 68%;
// /* height: 21px; */
// margin: 27px;
.milk-image {
  height: 400px;
  width: 400px;
  margin-left: -135px;
}

.show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.milk-description {
  text-align: center;
  font-style: italic;
  font-size: 20px;
}

.learn-more-button {
  margin-left: -130px;
  background-color: var(--main-green);
  border: none;
}

.promo {
  width: 350px;
  height: 350px;
  margin-left: 33px;
}

.foot-banner {
  width: 100%;
  margin-top: 50px;
}

.footer {
  display: flex;
  height: 225px;
  width: 100%;
  background-color: var(--main-black);
  align-items: center;
  color: white;
  justify-content: space-evenly;
  font-family: var(--functional-font);
  margin-top: -3px;
  font-size: 25px;
}

.me {
  height: 150px;
  width: 150px;
  margin-left: -319px;
}

.product-show-container {
  margin-top: 35px;
}

.product-use-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-display {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 960px;
  justify-content: space-around;
}

.product-display-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-show-image {
  width: 355px;
}

.product-information {
  display: flex;
  flex-direction: column;
}

.product-show-category {
  font-family: var(--functional-font);
  color: var(--main-purple);
  font-style: italic;
}

.product-show-price {
  font-family: var(--functional-font);
  color: var(--main-purple);
}

.product-show-name {
  font-family: var(--styled-font);
  font-size: 50px;
  margin: 7px 20px 20px 20px;
}

.product-show-size {
  font-family: var(--functional-font);
  display: inline;
  color: var(--main-green);
}

.product-show-right {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  margin-bottom: 35px;
}

.show-cart-button {
  margin-bottom: 25px;
}

.packagin-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
}

.packaging-blurb {
  width: 30%;
  background-color: var(--main-black);
  color: white;
  font-family: var(--functional-font);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  line-height: 24px;
}

.packaging-title {
  font-family: var(--styled-font);
  font-size: 25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.94);
  margin: 15px;
  letter-spacing: 3px;
}

.usage-buttons {
  width: 100px;
  height: 48px;
  font-family: var(--functional-font);
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 15px;
  text-decoration: underline;
}

.usage-buttons:focus {
  color: var(--main-green);
}

.instruction {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.instruction-image {
  width: 250px;
}

.instruction-text {
 font-family: var(--styled-font);
    text-align: center;
    margin: auto;
    font-size: 28px;
    letter-spacing: 1px;
    padding: 15px;
    margin-right: 15px;
}

.des {
  width: 630px;
  margin: 0;
}

.like-button {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.seperator {
  width: 1000px;
}

.review-header {
  text-align: center;
  font-size: 50px;
  font-family: var(--styled-font);
  margin-top: 40px;
  color: var(--main-purple);
}

.reviews-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.review-index-container {
  width: 60%;
}

.review-wrapper {
  border-bottom: 1px solid gray;
}

.review-title {
  font-size: 25px;
  font-family: var(--functional-font);
  margin: 15px;
  font-weight: 650;
}

.review-body {
  font-family: var(--functional-font);
  color: var(--main-black);
  margin: 15px;
  line-height: 25px;
}

.review-author {
  font-family: var(--functional-font);
  color: var(--main-purple);
  font-weight: 800;
  margin-left: 15px;
}

.review-rating {
  margin-left: 15px;
  font-family: var(--functional-font);
}

.back-button-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 20vw;
}

.back-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  /* background-color: var(--main-purple); */
  color: var(--main-purple);
  opacity: 0.7;
  font-size: 21px;
  cursor: pointer;
}

.back-button:hover {
  opacity: 1;
}

.create-review-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.review-button {
  width: 220px;
  height: 50px;

  font-size: 18px;
}


.for-product{
  transform: translateY(-63px);
}


.product-index{
  width:1200px;
  margin: auto;
  height: fit-content;
  margin-top: 50px;
  column-count: 4;
  margin-bottom: 50px;
}

.product-index > *{
    break-inside: avoid-column;
}

.spinner-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bubbles-slogan{
      text-align: center;
    font-size: 50px;
    margin: 35px;
    font-family: var(--styled-font);
    color: var(--main-purple);
}

.cart-feed-back{
  margin-top: 15px;
  font-family: var(--functional-font);
  color: var(--main-green);
  font-weight: 700;
  opacity: .5;
  margin-bottom: 0;
  position: absolute;
  bottom: -25px;
  
}


.cart-feed-back-show{
  font-family: var(--functional-font);
  color: var(--main-green);
  font-weight: 700;
  opacity: .5;
  margin-bottom: 5px;
  
}