.search-field {
    height: 40px;
    width: 200px;
    color: var(--main-black);
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px 10px -31px;
    border: none;
    font-size: 16px;
}

.search-field:focus{
  width:400px;
  transition: ease-in-out 900ms;
}


.search-button{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  background-color: white;
}